<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>watch-twitter-likes</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#1da1f2">
    <meta name="robots" content="noindex">
  </head>
  <body>
    <main id="app">
      <v-app>
        <v-main>
          <v-container>
            <v-select
              v-model="selected"
              :items="targets"
              item-text="name"
              label="Select targets"
              return-object
              multiple
            ></v-select>
            <v-switch v-model="isAnd" :label="getSearchType"></v-switch>
          </v-container>
          <v-pagination v-model="page" :length="Math.ceil(getItems.length / 30)" :total-visible="11" class="my-3"></v-pagination>
          <magic-grid ref="magic-grid" :animate="true" :use-min="true" :gap="10">
            <v-card v-for="item of getPageItem" :key="item.id" @click="open(item)">
              <v-img width="240px" :height="calcHeight(item)" :src="getImageUrl(item)"
                class="white--text align-end text-right" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
                <v-card-subtitle>by \{{ getTargetName(item) }} likes</v-card-subtitle>
                <template #placeholder>
                  <v-row class="fill-height ma-0" align="center" justify="center">
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-card>
          </magic-grid>
          <v-pagination v-model="page" :length="Math.ceil(getItems.length / 30)" :total-visible="11" class="my-3"></v-pagination>
        </v-main>
      </v-app>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>